// OK
// rec fib

function fib 0
push argument 0
push constant 0
eq
if-goto ret0
push argument 0
push constant 1
eq
if-goto ret1
push argument 0
push constant 1
sub
call fib 1
push argument 0
push constant 2
sub
call fib 1
add
return

label ret0
push constant 0
return

label ret1
push constant 1
return

function Sys.init 0
push constant 12
call fib 1
push constant 14
call fib 1
push constant 318
push constant 4
sub
add
add
label WHILE
goto WHILE